.container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .textArea {
    width: 80%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: monospace;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto 20px auto;
  }
  
  .link {
    color: #00ffa3;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  